.img_perfil{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	background-size: cover;
	background-position: center;
	margin-bottom: 5px;
	margin-top: -120px;
	border:solid black 2px;
	width: 200px;
	height: 200px;
	clear: both;
}
.stadistic_info_user{
	background-color:rgba(0, 0, 0, 0.68);
	clear: both;
	margin-bottom: 0px;
	text-align: center;
	padding: 0%;
	margin-top: 230px;
}
.info_active{
	opacity: !important 1;
	padding: 1.5%;
	font-size: 20px;
}
.back_img{
	color:white;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 350px;
	clear: both;

}
.header_perfil{
	margin-bottom: 20px;
}
.conf_perfil{
	padding: 5px;
	color:black;
}
.conf_perfil > a{
	text-decoration: none;
	color:white;
}
.bb {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-border-radius: 87px;
	-moz-border-radius: 87px;
	border-radius: 87px;
	color:white;
	width:100%;
	background-color: rgba(6, 154, 236, 0.43);
}
.bb:hover{
	width: 100%;
	background-color: #B2B0B0;
}
.contact-info{
	font-size: 15px;
	height: 70%;
	overflow: auto;
}

.contact-info > div >  p{
	font-size: 20px;
	border-bottom: 10px solid #e5e5e5;
	font-weight: bold;
	margin-bottom: 10px;
}
.contact-info > div > span{
	text-align: inline;
}

.conf_perfil > p{
	border-bottom: 10px solid #CDCDCD;
	margin-bottom: 10px;
}

#espaciodor{
	border-bottom: 7px solid #CDCDCD;
	margin-bottom: 7px;
}
.espaciodor2{
	border-bottom: 7px solid #e5e5e5;
	margin-bottom: 7px;
}
#spass{}